.carta {
    position: relative;
    width: 75px;
    left: 50px;
    margin-left: -35px;
}

#computadora-cartas, #jugador-cartas{
    height: 200px;
}

h2 {
    text-align: center;
    color: aliceblue;
}

.img-top{
    width: 2em;
}
.botones-player{
    margin-top: -5rem;
}